<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignifyBasic"
        tools:targetApi="31">
        <activity
            android:name=".selecting_game"
            android:exported="false" />
        <activity
            android:name=".signing_game"
            android:exported="false" />
        <activity
            android:name=".fill_blank_game"
            android:exported="false" />
        <activity
            android:name=".identify_game"
            android:exported="false" />
        <activity
            android:name=".matching_game"
            android:exported="false" />
        <activity android:name=".features.auth.SignupPage" />
        <activity android:name=".features.tabs.HomePage" />
        <activity android:name=".features.auth.TestPage" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".TakePictureActivity" />
        <activity android:name=".LoadImageActivity" />
        <activity android:name=".features.tabs.AchievementsPage" />
        <activity android:name=".features.tabs.ProfilePage" />
        <activity android:name=".features.tabs.NotificationsPage" />
        <activity android:name=".features.tabs.settings.SettingsPage"
            android:theme="@style/AppTheme" />
        <activity android:name=".features.tabs.discussion.DiscussionPage" />
        <activity android:name=".features.activitycenter.ActivityCenter" />
        <activity android:name=".features.tabs.resources.ResourcesPage" />
        <activity
            android:name=".features.auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>